*:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.modal-footer {
	justify-content: flex-start !important;
}

.disable { 
    opacity: .1 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.form-group .form-control {
	border-radius: 14px !important;
}

.bg-light-sky {
	background-color: rgba(88, 100, 255, 0.1) !important;
}

.btn-close {
    font-size: 10px !important;
}